name: ci-golang-workflow
on: 
  pull_request:
    branches:
      - develop

jobs:
  check-application:
    strategy: 
      matrix:
        go: ['1.18','1.19']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrigx.go }}
      - run: go env -w GO111MODULE=auto
      - run: go test
      - run: go run math.go